.row.h3
  .col-lg-3
    = link_to 'Railway stations', railway_stations_path
  .col-lg-3
    = link_to 'Trains', trains_path
  .col-lg-3
    = link_to 'Routes', routes_path
  .col-lg-3
    = link_to 'Wagons', wagons_path, :onclick => "paintIt(this, '#990000')"
