#notice= notice
%h1 Wagons
%table
  %thead
    %tr
      %th Type:
      %th{:colspan => '3'}
  %tbody
    -@wagons.each do |wagon|
      = render 'wagon', wagon: wagon
%br
= link_to 'New wagon', new_wagon_path
